* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-size: 36pt;
    margin: 0% 5%;
    border: 1px solid red;
    /* background-color: darkblue; */
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: auto;
    border: 3px dashed black;
}

.header {
    height: 150px;
    align-items: center;

}

.item1 {
    background-color: lightblue;
    border: 1px solid green;
    grid-area: span 1;
    
}

.item2 {
    background-color: lightblue;
    border: 1px solid green;
    grid-area: span 1;

}

.item3 {
    background-color: lightblue;
    border: 1px solid green;
    grid-area: span 1;
}